.file-icon {
  font-family: Arial, sans-serif;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 28px;
  border-width: 1px;
  -webkit-font-smoothing: antialiased;
  margin-left: 7px;
  background: linear-gradient(45deg, #FFFFFF calc(100% - 5px), rgba(255, 255, 255, 0) calc(100% - 5px), rgba(255, 255, 255, 0) 100%);
  -o-border-image: linear-gradient(45deg, #8C8C8C calc(100% - 6.5px), rgba(255, 255, 255, 0) calc(100% - 6.5px), rgba(255, 255, 255, 0) 100%);
     border-image: linear-gradient(45deg, #8C8C8C calc(100% - 6.5px), rgba(255, 255, 255, 0) calc(100% - 6.5px), rgba(255, 255, 255, 0) 100%);
  -webkit-clip-path: polygon(calc(100% - 9.5px) 0, 100% 9.5px, 100% 100%, -8px 100%, -8px 0);
          clip-path: polygon(calc(100% - 9.5px) 0, 100% 9.5px, 100% 100%, -8px 100%, -8px 0);
  border-style: solid;
  border-image-slice: 1;
}
.file-icon::before {
  content: ' ';
  position: absolute;
  top: -1px;
  right: -1px;
  height: 10px;
  width: 10px;
  box-shadow: -1px 1px 0px 0.5px rgba(140, 140, 140, 0.6);
  border-bottom-left-radius: 1px;
  background: linear-gradient(45deg, #FFFFFF calc(50% - 0.5px), #8C8C8C calc(50% - 0.5px), #8C8C8C calc(50% + 0.5px), transparent calc(50% + 0.5px), transparent 100%);
}
.file-icon::after {
  content: ' ';
  position: absolute;
  height: 10px;
  width: 23px;
  bottom: 4px;
  left: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 8px;
  color: #FFFFFF;
  font-weight: 600;
  background: #8C8C8C;
  letter-spacing: -1px;
  padding-top: 1px;
}
.file-icon[data-file]::after {
  content: attr(data-file);
}
.file-icon[data-file*=zip]::after,
.file-icon[data-file*=tar]::after,
.file-icon[data-file*=dmg]::after,
.file-icon[data-file*=jar]::after,
.file-icon[data-file*=rar]::after {
  background: #A19382;
}
.file-icon[data-file*=dwg]::after,
.file-icon[data-file*=obj]::after,
.file-icon[data-file*=dae]::after,
.file-icon[data-file*=skp]::after,
.file-icon[data-file*=fbx]::after,
.file-icon[data-file*='3ds']::after {
  background: #5E43C6;
}
.file-icon[data-file*=doc]::after,
.file-icon[data-file*=rtf]::after,
.file-icon[data-file*=odt]::after,
.file-icon[data-file*=tex]::after,
.file-icon[data-file*=txt]::after {
  background: #1482C8;
}
.file-icon[data-file*=svg]::after,
.file-icon[data-file*=ai]::after {
  background: #EC8F08;
}
.file-icon[data-file*=pdf]::after {
  background: #D83433;
}
.file-icon[data-file*=xml]::after,
.file-icon[data-file*=csv]::after,
.file-icon[data-file*=xls]::after {
  background: #47B188;
}
.file-icon[data-file*=jpg]::after,
.file-icon[data-file*=jpeg]::after,
.file-icon[data-file*=gif]::after,
.file-icon[data-file*=tif]::after,
.file-icon[data-file*=psd]::after,
.file-icon[data-file*=raw]::after,
.file-icon[data-file*=png]::after {
  background: #1C387A;
}
.file-icon[data-file*=webm]::after,
.file-icon[data-file*=mkv]::after,
.file-icon[data-file*=avi]::after,
.file-icon[data-file*=mov]::after,
.file-icon[data-file*=m4v]::after,
.file-icon[data-file*=mpeg]::after,
.file-icon[data-file*=mp4]::after {
  background: #FF4290;
}
.file-icon[data-file*=mp3]::after,
.file-icon[data-file*=m4a]::after,
.file-icon[data-file*=ogg]::after,
.file-icon[data-file*=aac]::after,
.file-icon[data-file*=flac]::after {
  background: #0C6845;
}
.file-icon--medium {
  width: 50px;
  height: 70px;
  border-width: 3px;
  margin-left: 17px;
  background: linear-gradient(45deg, #FFFFFF calc(100% - 15px), rgba(255, 255, 255, 0) calc(100% - 15px), rgba(255, 255, 255, 0) 100%);
  -o-border-image: linear-gradient(45deg, #8C8C8C calc(100% - 18px), rgba(255, 255, 255, 0) calc(100% - 18px), rgba(255, 255, 255, 0) 100%);
     border-image: linear-gradient(45deg, #8C8C8C calc(100% - 18px), rgba(255, 255, 255, 0) calc(100% - 18px), rgba(255, 255, 255, 0) 100%);
  -webkit-clip-path: polygon(calc(100% - 26px) 0, 100% 26px, 100% 100%, -20px 100%, -20px 0);
          clip-path: polygon(calc(100% - 26px) 0, 100% 26px, 100% 100%, -20px 100%, -20px 0);
  border-style: solid;
  border-image-slice: 1;
}
.file-icon--medium::before {
  top: -2px;
  right: -2px;
  height: 25px;
  width: 25px;
  box-shadow: -1.5px 1.5px 0px 1.5px #8C8C8C;
  border-bottom-left-radius: 5px;
  background: linear-gradient(45deg, #FFFFFF calc(50% - 2px), #8C8C8C calc(50% - 2px), #8C8C8C calc(50% + 2px), transparent calc(50% + 2px), transparent 100%);
}
.file-icon--medium::after {
  height: 25px;
  width: 57.5px;
  font-size: 20px;
  bottom: 8px;
  left: -20px;
}
.file-icon--large {
  width: 100px;
  height: 140px;
  border-width: 4px;
  margin-left: 36px;
  background: linear-gradient(45deg, #FFFFFF calc(100% - 35px), rgba(255, 255, 255, 0) calc(100% - 35px), rgba(255, 255, 255, 0) 100%);
  -o-border-image: linear-gradient(45deg, #8C8C8C calc(100% - 38px), rgba(255, 255, 255, 0) calc(100% - 38px), rgba(255, 255, 255, 0) 100%);
     border-image: linear-gradient(45deg, #8C8C8C calc(100% - 38px), rgba(255, 255, 255, 0) calc(100% - 38px), rgba(255, 255, 255, 0) 100%);
  -webkit-clip-path: polygon(calc(100% - 48px) 0, 100% 48px, 100% 100%, -40px 100%, -40px 0);
          clip-path: polygon(calc(100% - 48px) 0, 100% 48px, 100% 100%, -40px 100%, -40px 0);
  border-style: solid;
  border-image-slice: 1;
}
.file-icon--large::before {
  top: -4px;
  right: -4px;
  height: 50px;
  width: 50px;
  box-shadow: -2px 2px 0px 2px #8C8C8C;
  border-bottom-left-radius: 5px;
  background: linear-gradient(45deg, #FFFFFF calc(50% - 2px), #8C8C8C calc(50% - 2px), #8C8C8C calc(50% + 2px), transparent calc(50% + 2px), transparent 100%);
}
.file-icon--large::after {
  height: 50px;
  width: 115px;
  font-size: 40px;
  bottom: 20px;
  left: -40px;
}@charset "UTF-8";

.navbar-nav .nav-link.active {
  color: #f4645f !important;
}

.form-control-alternative.is-invalid {
  box-shadow: 0 1px 5px rgba(251, 99, 64, 0.5), 0 1px 0 rgba(251, 99, 64, 0.5);
}

.select2-selection__arrow {
  display: none;
}

.select2.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.625rem 0.75rem;
  transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #8898aa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05);
}

@media (prefers-reduced-motion: reduce) {
  .select2-container .select2-selection--single,
  .select2-container--default .select2-search--dropdown .select2-search__field,
  .select2-container--default .select2-selection--multiple,
  .select2-container--default.select2-container--focus .select2-selection--multiple {
    transition: none;
  }
}

.select2-container .select2-selection--single::-ms-expand,
.select2-container--default .select2-search--dropdown .select2-search__field::-ms-expand,
.select2-container--default .select2-selection--multiple::-ms-expand,
.select2-container--default.select2-container--focus .select2-selection--multiple::-ms-expand {
  border: 0;
  background-color: transparent;
}

.select2-container .select2-selection--single:focus,
.select2-container--default .select2-search--dropdown .select2-search__field:focus,
.select2-container--default .select2-selection--multiple:focus,
.select2-container--default.select2-container--focus .select2-selection--multiple:focus {
  color: #8898aa;
  border-color: #5e72e4;
  outline: 0;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(50, 50, 9, 0), 3px 4px 8px rgba(94, 114, 228, 0.1);
}

.select2-container .select2-selection--single::-ms-input-placeholder,
.select2-container--default .select2-search--dropdown .select2-search__field::-ms-input-placeholder,
.select2-container--default .select2-selection--multiple::-ms-input-placeholder,
.select2-container--default.select2-container--focus .select2-selection--multiple::-ms-input-placeholder {
  opacity: 1;
  color: #adb5bd;
}

.select2-container .select2-selection--single::-webkit-input-placeholder,
.select2-container--default .select2-search--dropdown .select2-search__field::-webkit-input-placeholder,
.select2-container--default .select2-selection--multiple::-webkit-input-placeholder,
.select2-container--default.select2-container--focus .select2-selection--multiple::-webkit-input-placeholder {
  opacity: 1;
  color: #adb5bd;
}

.select2-container .select2-selection--single::-moz-placeholder,
.select2-container--default .select2-search--dropdown .select2-search__field::-moz-placeholder,
.select2-container--default .select2-selection--multiple::-moz-placeholder,
.select2-container--default.select2-container--focus .select2-selection--multiple::-moz-placeholder {
  opacity: 1;
  color: #adb5bd;
}

.select2-container .select2-selection--single:-ms-input-placeholder,
.select2-container--default .select2-search--dropdown .select2-search__field:-ms-input-placeholder,
.select2-container--default .select2-selection--multiple:-ms-input-placeholder,
.select2-container--default.select2-container--focus .select2-selection--multiple:-ms-input-placeholder {
  opacity: 1;
  color: #adb5bd;
}

.select2-container .select2-selection--single::placeholder,
.select2-container--default .select2-search--dropdown .select2-search__field::placeholder,
.select2-container--default .select2-selection--multiple::placeholder,
.select2-container--default.select2-container--focus .select2-selection--multiple::placeholder {
  opacity: 1;
  color: #adb5bd;
}

.select2-container .select2-selection--single:disabled,
.select2-container .select2-selection--single[readonly],
.select2-container--default .select2-search--dropdown .select2-search__field:disabled,
.select2-container--default .select2-search--dropdown .select2-search__field[readonly],
.select2-container--default .select2-selection--multiple:disabled,
.select2-container--default .select2-selection--multiple[readonly],
.select2-container--default.select2-container--focus .select2-selection--multiple:disabled,
.select2-container--default.select2-container--focus .select2-selection--multiple[readonly] {
  opacity: 1;
  background-color: #e9ecef;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  overflow: inherit;
  padding: 0;
  white-space: inherit;
  text-overflow: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: inherit;
  color: inherit;
}

.select2-dropdown {
  padding: 0.5rem 0;
  border: 1px solid #dee2e6;
  border-radius: 0.4375rem;
  background-color: #fff;
}

.select2-results__option {
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  color: #212529;
  background-color: #fff;
}

.select2-results__option:focus,
.select2-results__option:hover {
  text-decoration: none;
  color: #16181b;
  background-color: #f6f9fc;
}

.select2-container--open .select2-dropdown--below {
  padding: 0;
}

.select2-container--default .select2-results .select2-results__option--highlighted[aria-selected] {
  color: #fff;
  background-color: #5897fb !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  color: #fff;
  background-color: #5e72e4 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  background-color: #eee !important;
  border: 1px solid #eee !important;
  color: #555;
  padding: 0 5px 0 10px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  height: auto;
  min-height: calc(1.5em + 1.25rem + 2px);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  display: block;
  margin: 0 0 -0.25rem -0.25rem;
  padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: inline-flex;
  margin: 0;
  padding: 0 0.5rem;
  color: #8898aa;
  border: none;
  border-radius: 0.25rem;
  background-color: #adb5bd;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 0.5rem;
  color: #8898aa;
  order: 2;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #525f7f;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
  background: none !important;
  border: none !important;
}

.select2-selection[aria-expanded=true] {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.select2-search--dropdown {
  padding: 0.5rem 0.75rem;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.form-control-sm + .select2-container .select2-selection--single,
.form-control-sm + .select2-container--default .select2-selection--multiple,
.form-control-sm + .select2-container--default.select2-container--focus .select2-selection--multiple {
  font-size: 0.875rem;
  line-height: 1.5;
  height: calc(1.5em + .5rem + 2px);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.form-control-sm + .select2-container--default .select2-selection--multiple,
.form-control-sm + .select2-container--default.select2-container--focus .select2-selection--multiple {
  min-height: calc(1.5em + .5rem + 2px);
}

.form-control-sm + .select2-container--default .select2-selection--multiple .select2-selection__choice {
  line-height: 1.3125rem;
}

.form-control-lg + .select2-container .select2-selection--single,
.form-control-lg + .select2-container--default .select2-selection--multiple,
.form-control-lg + .select2-container--default.select2-container--focus .select2-selection--multiple {
  font-size: 1.25rem;
  line-height: 1.5;
  height: calc(1.5em + 1.75rem + 2px);
  padding: 0.875rem 1rem;
  border-radius: 0.4375rem;
}

.form-control-lg + .select2-container--default .select2-selection--multiple,
.form-control-lg + .select2-container--default.select2-container--focus .select2-selection--multiple {
  min-height: calc(1.5em + 1.75rem + 2px);
}

.form-control-lg + .select2-container--default .select2-selection--multiple .select2-selection__choice {
  line-height: 1.875rem;
}

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-handle:hover {
  color: #2ea8e5;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.dd-item > button:before {
  content: "\EA31";
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
  font: normal normal normal 16px/1 NucleoIcons;
}

.dd-item > button[data-action=collapse]:before {
  content: "\EA32";
}

.dd-item > .form-inline {
  padding-bottom: 0.5rem;
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 700px) {
  .dd + .dd {
    margin-left: 2%;
  }
}

.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}

.dd-list input.section {
  width: 350px;
}

@media only screen and (min-width: 768px) {
  .dd-list input.section {
    width: 500px;
  }
}

.fc-header-toolbar {
  display: none;
}

.fc-scroller {
  height: auto !important;
}

.fc th {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.75rem 1rem !important;
  text-transform: uppercase;
  color: #8898aa;
}

.fc div.fc-row {
  margin-right: 0;
  border: 0;
}

.fc button .fc-icon {
  top: -5px;
}

.fc-unthemed td.fc-today {
  background-color: transparent;
}

.fc-unthemed td.fc-today span {
  color: #fb6340;
}

.fc-event {
  font-size: 0.75rem;
  padding: 0;
  border: 0;
  border-radius: 0.25rem;
}

.fc-event .fc-title {
  font-weight: 600;
  display: block;
  overflow: hidden;
  padding: 0.4rem 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.fc-event .fc-time {
  float: left;
  margin: 0 0 0 -1px;
  padding: 2px 6px;
  background: rgba(0, 0, 0, 0.2);
}

.fc-view,
.fc-view > table {
  overflow: hidden;
  border: 0;
}

.fc-view > table > tbody > tr .ui-widget-content {
  border-top: 0;
}

.fc-body {
  border: 0;
}

.fc-icon {
  font-family: NucleoIcons, sans-serif;
  font-size: 1rem;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.fc-icon:hover {
  color: #5e72e4;
}

.fc-button {
  border: 0;
  background: 0 0;
  box-shadow: none;
}

.fc-button:active,
.fc-button:focus {
  outline: 0;
}

.calendar {
  z-index: 0;
}

.calendar td,
.calendar th {
  border-color: #eff1f3;
}

.calendar .fc-toolbar {
  position: relative;
  z-index: 2;
  height: 250px;
  margin-bottom: -2px;
  border-radius: 0.375rem 0.375rem 0 0;
  background-color: #fff;
}

@media (max-width: 575.98px) {
  .calendar .fc-toolbar {
    height: 135px;
  }
}

.calendar .fc-day-number {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem;
}

@media (min-width: 576px) {
  .calendar .fc-day-number {
    font-size: 0.875rem;
    font-weight: 600;
    color: #67779d;
  }
}

.calendar .fc-day-header {
  text-align: left;
}

.calendar .fc-day-grid-event {
  margin: 1px 9px;
}

.card-calendar .card-header {
  border-bottom: 0;
}

.card-calendar table {
  background: 0 0;
}

.card-calendar table tr > td:first-child {
  border-left-width: 0;
}

.card-calendar table tr > td:last-child {
  border-right-width: 0;
}

.widget-calendar {
  position: relative;
  z-index: 0;
}

.widget-calendar td,
.widget-calendar th {
  text-align: center;
  border-color: transparent;
}

.widget-calendar .fc-toolbar {
  margin-top: 1.25rem;
}

.widget-calendar .fc-toolbar h2 {
  font-size: 1rem;
}

.widget-calendar .fc-day-number {
  width: 100%;
  padding: 0;
  text-align: center;
}

.widget-calendar .fc table {
  font-size: 0.875rem;
}

.widget-calendar .fc th {
  font-size: 0.75rem;
  padding: 0.75rem 0.5rem;
}

